body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    
}

#quiz-container {
    background-color: #c3a6a6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(214, 32, 32, 0.1);
    text-align: center;
}

.option {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #5c6b75;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #21613b;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
#timer{
    margin-top: 20px;
    padding: 10px;
    background-color: #21613b;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
